<!DOCTYPE html>
<html>
<head>
    <title>The Shetphone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="static/normalize.css">
    <link rel="stylesheet" href="static/skeleton.css">
    <link rel="stylesheet" href="static/shetphone.css">

    <style>
        [v-cloak] { display: none; }
    </style>
</head>
<body>
    <div id="shetphone" class="container">
        <h1 class="u-full-width">
            The Shetphone
            <a href="{{ url_for('logout') }}" title="Logout" v-cloak>
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
        </h1>
        <div class="row">
            <div class="six columns">
                <!-- Dialer input -->
                <div class="row" v-cloak>
                    <select name="countryPrefix" v-model="countryPrefix">
                      <option v-for="country in countries" v-bind:value="country.prefix">
                          ${ country.name } (+${ country.prefix })
                      </option>
                    </select>
                    <input type="tel" class="form-control" v-model="currentNumber">
                </div>
            </div>

            <div class="six columns">
                <div class="row">
                    <select name="preset" v-cloak v-if="presets.length">
                        <option v-for="(preset, index) in presets" v-bind:value="index">
                            ${ preset.name }
                        </option>
                    </select>
                    <button class="button-primary" @click="loadPreset()" v-if="presets.length">
                          Load preset
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="one columns">&nbsp;</div>
            <div class="one columns controls">
                <button class="circle green" @click="connect()"
                    :disabled="!canConnect">
                    <i class="fa fa-fw fa-phone"
                        :class="[ (onPhone || ringing) ? 'fa-close': 'fa-phone' ]"></i>
                </button>

                <button class="circle red" @click="disconnect()"
                    :disabled="!onPhone && !ringing">
                    <i class="fa fa-fw fa-phone"
                        :class="[ (onPhone || ringing) ? 'fa-close': 'fa-phone' ]"></i>
                </button>

                <button class="circle" :disabled="!onPhone" @click="toggleMute">
                    <i class="fa fa-fw"
                        :class="[ muted ? 'fa-microphone-slash': 'fa-microphone' ]"></i>
                </button>

                <button class="circle" :disabled="online" @click="fetchToken()"
                    :title="[ online ? 'The Shetphone is online' : 'The Shetphone is offline - reset?' ]">
                  <i class="fa fa-fw"
                      :class="[ online ? 'fa-link': 'fa-chain-broken' ]"></i>
                </button>
            </div>

            <!-- DTMF Tone interface -->
            <div class="four columns keys" v-cloak>
                <div class="key-row">
                    <button id="num1" class="circle" :disabled="!onPhone" @click="sendDigit('1')">1</button>
                    <button id="num2" class="circle" :disabled="!onPhone" @click="sendDigit('2')">2
                        <span>A B C</span>
                    </button>
                    <button id="num3" class="circle" :disabled="!onPhone" @click="sendDigit('3')">3
                        <span>D E F</span>
                    </button>
                </div>
                <div class="key-row">
                    <button id="num4" class="circle" :disabled="!onPhone" @click="sendDigit('4')">4
                        <span>G H I</span>
                    </button>
                    <button id="num5" class="circle" :disabled="!onPhone" @click="sendDigit('5')">5
                        <span>J K L</span>
                    </button>
                    <button id="num6" class="circle" :disabled="!onPhone" @click="sendDigit('6')">6
                        <span>M N O</span>
                    </button>
                </div>
                <div class="key-row">
                    <button id="num7" class="circle" :disabled="!onPhone" @click="sendDigit('7')">7
                        <span>P Q R S</span>
                    </button>
                    <button id="num8" class="circle" :disabled="!onPhone" @click="sendDigit('8')">8
                        <span>T U V</span>
                    </button>
                    <button id="num9" class="circle" :disabled="!onPhone" @click="sendDigit('9')">9
                        <span>W X Y Z</span>
                    </button>
                </div>
                <div class="key-row">
                    <button id="asterisk" class="circle" :disabled="!onPhone" @click="sendDigit('*')">*</button>
                    <button id="num0" class="circle" :disabled="!onPhone" @click="sendDigit('0')">0</button>
                    <button id="hash" class="circle" :disabled="!onPhone" @click="sendDigit('#')">#</button>
                </div>
            </div>
            <div class="six columns">
                <transition-group name="history" tag="ol" id="history" reversed="true" :start="[ historyCount > 10 ? historyCount : history.length]" v-cloak>
                    <li v-for="record in history" v-bind:key="record" v-bind:title="record.date.toLocaleString()">
                        ${ record.date.toLocaleTimeString() } ${ record.message }
                    </li>
                </transition-group>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var login_url = "{{ url_for('login') }}";
        var logout_url = "{{ url_for('logout') }}";
    </script>
    <script src="//media.twiliocdn.com/sdk/js/client/v1.4/twilio.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="static/libphonenumber-js.min.js"></script>
    <script src="static/vue.min.js"></script>
    <script src="static/shetphone.js"></script>
</body>
</html>
